{% extends 'base.html.twig' %}
{% block title %}Edit student {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Edit student</h1>

        {{ form_start(formEditStudent) }}
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.firstname) }}
                </div>
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.lastname) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.birthDate) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.email) }}
                </div>
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.phoneNumber) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.street) }}
                </div>
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.city) }}
                </div>
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.zipCode) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm my-2">
                    {{ form_row(formEditStudent.sessions) }}
                </div>
            </div>
            
            {{ form_row(formEditStudent.Submit) }}
        {{ form_end(formEditStudent) }}
    </div>
    
{% endblock body %}