{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}

{% block body %}
    <div class="container my-5">
        <h1>Students list</h1>

        <a href="{{ path('new_student')}}" class="btn btn-success my-3 rounded-pill"> Add a new student</a> <br>

        <table class="table table-hover">
            <thead>
                <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Students</th>
                <th scope="col">Details</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr class="table-light">
                <th scope="row">{{ loop.index}}</th>
                <td> <a href="{{ path('show_student', {'id':student.id}) }}" class="fw-bold fs-5">{{ student }}</a></td>
                <td> <a href="{{ path('show_student', {'id':student.id}) }} " class="student-details"></a></td>
                <td>  <a href="{{ path('edit_student', {'id':student.id}) }}" class="btn btn-info px-3 rounded-pill"> Edit</a></td>
                <td><a href="{{ path('delete_student', {'id':student.id}) }}" class="btn btn-danger px-3 rounded-pill">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
