{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Students list</h1>

    <a href="{{ path('new_student')}}" class="btn btn-success m-2"> Add a new student</a> <br>

    {% for student in students %}
       <a href="{{ path('show_student', {'id':student.id}) }}">{{ student }}</a>
       <a href="{{ path('edit_student', {'id':student.id}) }}" class="btn btn-info m-2"> Edit</a>  
       <a href="{{ path('delete_student', {'id':student.id}) }}" class="btn btn-danger m-2">Delete</a>  <br>
    {% endfor %}
</div>
{% endblock %}
