{% extends 'base.html.twig' %}

{% block title %}Program list{% endblock %}

{% block body %}
    <div class="container">
        <h1>Program list</h1>

        <a href="{{ path('new_program')}}" class="btn btn-success m-2">Add new program</a> <br>
        <hr>

        {% for program in programs %}
        Session: {{ program.session}} <br>
        Modules: {{ program.modules}} <br>
        Number of days: {{ program.numberOfDays}} <br>
        <a href="{{ path('edit_program', {'id':program.id}) }}" class="btn btn-info">Edit</a>
        <a href="{{ path('delete_program', {'id':program.id}) }}" class="btn btn-danger">Delete</a>
        <hr>
        {% endfor %}
    </div>
{% endblock %}
