{% extends 'base.html.twig' %}
{% block title %}Session details {% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Session details</h1>

        <table class="table table-hover text-center">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Session</th>
                    <th scope="col">Training</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Number of places</th>
                    <th scope="col">reserved places</th>
                    <th scope="col">Remaining places</th>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                <tr class="table-light">
                    <td> <strong>{{ session }}</strong></td>
                    <td>{{ session.training }}</td>
                    <td>{{ session.startDate|date("m/d/Y") }}</td>
                    <td>{{ session.endDate|date("m/d/Y") }}</td>
                    <td class="text-primary">{{ session.numberOfPlaces }}</td>
                    <td class="text-success">{{ studentsInSession|length}}</td>
                    <td class="text-danger"> {{ session.numberOfPlaces - studentsInSession|length }}</td>
                    {% if is_granted('ROLE_ADMIN')  %}
                        <td><a href="{{ path('edit_session', {'sessionId':session.id, 'trainingId':trainingId}) }}" class="btn btn-info  rounded-pill px-2">Edit</a></td>
                        <td><a href="{{ path('delete_session', {'sessionId':session.id, 'trainingId':trainingId}) }}" class="btn btn-danger  rounded-pill px-2">Delete</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>

        <h2>Programs of this session</h2>

        <table class="table table-hover text-center">
            <thead>
                <tr class="table-primary">
                <th scope="col">Moludes</th>
                <th scope="col">Days</th>
                </tr>
            </thead>
            <tbody>
            {# on initialise une variable curentCategory à null car il n'y a pas encore de catégorie affichée #}
            {% set currentCategory = null %}

            {% for program in programs %}
                {# si la catégorie est differente de la catégorie actuelle, alors je l'affiche #}
                {% if program.modules.category != currentCategory %}
                    <tr>
                        <td colspan="2" class="fw-bold text-primary"> {{ program.modules.category }}</td>
                    </tr>
                    <tr>
                        <td> {{program.modules}} </td>
                        <td> {{program.numberOfDays}} </td>
                    </tr>
                    {# puis on passe la catégorie en valeur de currentCategory #}
                    {% set currentCategory = program.modules.category %}
                    {# sinon, on continue d'afficher les modules #}
                {% else %}
                <tr>
                    <td> {{program.modules}} </td>
                    <td> {{program.numberOfDays}} </td>
                </tr> 
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN')  %}

        <div class="studentsList">
            <div>
                <h2>Students registered in this session</h2>
        
                <a href="{{ path('addStudent_student_session', {'sessionId':session.id}) }}" class="btn btn-success m-3 rounded-pill">Add student</a> <br>
        

            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody>
                {% for studentInSession in studentsInSession %}
                    <tr class="table-light">
                    <th scope="row">{{ loop.index}}</th>
                    <td>{{ studentInSession.lastname }}</td>
                    <td>{{ studentInSession.firstname }}</td>
                    <td>{{ studentInSession.email }}</td>
                    <td>{{ studentInSession.phoneNumber }}</td>
                    <td><a href="{{ path('remove_student_session', {'sessionId':session.id, 'studentId':studentInSession.id} ) }}" class="btn btn-danger rounded-pill px-2">Remove</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            
            <div>
                <h2 class="text-danger">Students unregistered in this session</h2>

                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for studentNotInSession in studentsNotInSession %}
                        <tr class="table-light">
                        <th scope="row">{{ loop.index}}</th>
                        <td>{{ studentNotInSession.lastname }}</td>
                        <td>{{ studentNotInSession.firstname }}</td>
                        <td>{{ studentNotInSession.email }}</td>
                        <td>{{ studentNotInSession.phoneNumber }}</td>
                        <td><a href=" {{ path('addStudentInSession_session', {'trainingId':trainingId, 'sessionId':session.id, 'studentId':studentNotInSession.id} ) }} " class="btn btn-success rounded-pill px-2">Add</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                    
           

         
        {% endif %}

    
    </div>
 
{% endblock body %}