{% extends 'base.html.twig' %}
{% block title %}Session details {% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="m-5">Session details</h1>
        <div class="fs-4">
            Title : <span class="text-primary">{{ session.name }}.</span> <br>
            Start date: <span class="text-primary">{{ session.startDate|date('d-m-Y') }}.</span> <br>
            End date: <span class="text-primary">{{ session.endDate|date('d-m-Y')  }}.</span> <br>
            Training: <span class="text-primary">{{ session.training }}.</span> <br>
            Available Places:  <span class="text-primary">{{ session.numberOfPlaces }}.</span> <br>
        </div>
        
    </div>
   
    
{% endblock body %}