{% extends 'base.html.twig' %}
{% block title %}Add new module {% endblock %}

{% block body %}
    <div class="container my-5">
        <h1 class="text-center">Add new module</h1>

        {{ form_start(formAddModule) }}
            <div class="row">
                <div class="col-6">
                    {{ form_row(formAddModule.name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {{ form_row(formAddModule.category) }}
                </div>
            </div>
            
            {{ form_row(formAddModule.Submit) }}
        {{ form_end(formAddModule) }}
    </div>
    
{% endblock body %}